.navbar{
    background-color: #49ad85;
}

.form-control{
    width: 300px;
}

.card{
margin-left: 40px;
margin-top: 30px;
width: 37vw;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0,15);

}
.cards{
    display: flex;

}

.list-group{
    width: 190px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 3px 2px #EFEFEF;
    margin-left: 2vw;
}

.store{
    display: flex;
}

.pagination{
    justify-content: center;
    margin-top: 10px;
}

.texto-barra{
    font-size: medium;
    font-weight: normal;
}
.selector{
    width: 130px;
    list-style-type: none;
    margin-left: 10px;
}

.marca{
    text-decoration: none;
}

.estrellas{
    color: black;
}

.precios{
    text-decoration: none;
    list-style-type: none;
    margin-left: -32px;
}

.paginatio{
    margin-top: 30px;
}

.carrito{
    font-size: medium;
}

.list-group-item{
    margin-left: -10px;
}
